#cssfx {
	margin:0 auto;
	width:720px;
	padding:20px
}
h1 {
	font-size:3em;
	margin:0;
	text-align:center;
	text-shadow:0px 0px 20px #407fab
}
h2 {
	text-transform:uppercase;
	margin-top:10px;
	text-shadow:0px 0px 5px #407fab;
	text-align:center;
	transform:rotate(-2deg)
}
h2:hover {
	transform:rotate(2deg) scale(1.5)
}
h2,h2:hover {
	transition:all 0.5s ease-out
}
h3 {
	text-shadow:0px 1px 0px #09121e;
	margin-top:2em;
	margin-bottom:0;
}
#example h3 {
	margin-top:0;
	margin-bottom:0.5em
}
p {
	line-height:1.4em;
	margin-bottom:1em;
	margin-top:0.5em
}
em {
	text-decoration:underline
}
#desc {
	padding-top:20px;
	font-size:1.2em
}
#example {
	box-shadow:0px 0px 15px #407fab;
	border-radius:10px;
	display:box;
	box-pack:center;
	box-align:center;
	width:100%;
	padding:20px 0;
	margin:30px 0
}
#example div {
	display:block
}
#example #arrow {
	width:100px;
	text-align:center;
	font-size:3em;
	text-shadow:0px 0px 5px #407fab
}
#lead {display:box;box-pack:left;box-align:center}
#download-well {width:300px;margin-left:50px}
#desc {box-flex:1}

#download {
	display:block;
	line-height:53px;
	padding-left:54px;
	background:url(download.png) no-repeat;
	color:#c8e8ff;
	font-weight:bold;
	text-shadow:0px 1px 0px #09121e
}
#download:hover {
	color:#fff;
	text-shadow:0px 0px 10px #407fab
}
#download,#download:hover {
	transition:all 0.2s ease-out
}
small {
	padding-top:10px;
	border-top:solid 1px rgba(0,0,0,0.3);
	text-align:center;
	margin-top:20px;
	opacity:0.8;
	display:block
}
small a {
	color: #fff
}
